:root {
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;


  --yellow200: #fee28a;
  --yellow400: #fac215;
  --yellow500: #eab308;
  --lime400: #a3e635;
  --red500: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../images/bg-intro-mobile.png");
  background-color: var(--yellow200);
  max-height: 100vh;
}

#app {
  max-width: 375px;
  margin: 70px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.left-side {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
}

h1 {
  font-size: 32px;
  line-height: 160%;
  color: var(--zinc900);
}

p {
  font-size: 16px;
  line-height: 160%;
}

.right-side {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.btn-try {
  background: var(--yellow400);
  width: 100%;
  padding: 10px 80px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  color: var(--zinc950);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-try span {
  font-weight: 400;
}

form {
  background: #fafafa;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.form-input input {
  padding: 10px 15px;
  border: 2px solid var(--zinc300);
  border-radius: 8px;
  outline: none;
}


.btn-text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.btn-text button {
  background: var(--yellow500);
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
  color: var(--zinc900);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.btn-text button:hover {
  background: var(--yellow400);
}

.btn-text p {
  font-size: 11px;
  line-height: 160%;
  max-width: 247px;
  margin: 0 auto;
  color: var(--zinc400);
  text-align: center;
}

.btn-text p > span {
  color: var(--red500);
  font-weight: 600;
}

@media (width > 1024px) {
  body {
    overflow: hidden;
  }

  #app {
    max-width: 1250px;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }

  .left-side {
    width: 50%;
    text-align: left;
  }

  h1 {
    font-size: 48px;
  }

  .right-side {
    width: 60%;
  }

  .btn-try {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
  }

  .btn-text p {
    max-width: 100%;
  }
}