:root {
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;
  /*Primary */
  --Red: hsl(0, 100%, 74%); 
  --Green: hsl(154, 59%, 51%);
  /* Accent */
  --Blue: hsl(248, 32%, 49%);
  /*Neutral */
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-image: url("../images/bg-intro-mobile.png");
  background-color: var(--Red);
}

#app {
  min-width: 320px;
  max-width: 480px;
  width: 100%;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #000;
}


.text {
  text-align: center;
  margin-bottom: 40px;
}

.text h1 {
  font-size: 2.3rem;
  line-height: 140%;
  color: var(--zinc100);
  margin-bottom: 15px;
}

.text p {
  line-height: 140%;
  color: rgba(250, 250, 250, 0.8);
}

.box-text {
  background: var(--Blue);
  box-shadow: 5px 5px 5px var(--Blue);
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--zinc50);
  text-align: center;
}

form {
  background: var(--zinc50);
  margin: 20px 0;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
}


.input-box {
  position: relative;
  margin-bottom: 16px;
}

.input-box :is(label, span) {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: var(--GrayishBlue);
  transition: 0.3s;
}

.input-box > label {
  left: 10px;
  translate: 0 -50%;
  padding: 4px 8px;
}

.input-box > input {
  height: 56px;
  width: 100%;
  padding-left: 18px;
  border: 1.5px solid var(--DarkBlue);
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: var(--zinc400);
  font-size: 16px;
  transition: 0.3s;
}

.input-box > input.valid.has-value {
  border-color: var(--Green);
}

.input-box > :is(input:focus, .has-value) {
  border-color: var(--zinc400);
}

.input-box > input.has-value {
  border-color: var(--Red);
}

.input-box > :is(input:focus, .has-value) ~ label {
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
  translate: -42px -42px;
  scale: 0.8;
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid rgb(255 255 255 / 14%);
  border-top-color: #f7f7f7;
  opacity: 0;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner.visible {
  opacity: 1;
}