@media (width > 1024px) {
  #app {
    max-width: 1200px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  .techs {
    gap: 10px;
  }

  .btns {
    gap: 16px;
    margin-top: 15px;
  }

  .btns a {
    padding: 5px 0;
    justify-content:  center;
  }


 

}