@media (width > 1024px) {
  #app {
    max-width: 1200px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  .techs {
    gap: 10px;
  }

  .techs span {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 16px;
  }

  .btns {
    gap: 16px;
    margin-top: 15px;
  }

  .btns a {
    width: 100%;
    transition: 0.5s;
  }


  .btns a:hover {
    opacity: 0.5;
  }

}