body::-webkit-scrollbar {
  width: 10px;
  background: var(--Rose100);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  width: 10px;
  background: var(--Rose300);
}

#order-confirm-modal .btn-items button {
 display: inline;
 width: 40px;
 height: 40px;
 padding: 5px;
}

#order-confirm-modal .btn-items button img {
  width: 40px;
}


@media (width >= 1199px) {
  #app {
    max-width: 90%;
    margin: 40px auto ;
  }

  main {
    display: flex;
    column-gap: 30px;
  }

  #product-list {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70%;
  }

  .product button {
    left: 23%;
    top: 45%;
    padding: 10px 25px;

    font-size: .8em;
  }

  .product button img {
    width: 20px;
  }

  #cart {
    width: 60%;
    height: max-content;
  }

  #order-confirm-modal {
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    padding: 50px 0;
  }
  
  .modal-container {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    border-radius: 20px;
    padding: 30px 20px;
  }

  #order-confirm-modal header > div img {
    max-width: 100%;
    width: 50px;
    margin-bottom: 10px;
  }

  #order-confirm-modal header div h2 {
    font-size: 3em;
  }
  
  .break {
    display: none;
  }

  #order-confirm-modal header div p {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .close-modal img {
    width: 30px;
  }

  .modal-item {
    display: flex;
  }

  .modal-list li img {
    width: 100px;
    margin-right: 10px;
  }

  .id-modal-items h3 {
    width: 15em;
  }
}