@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose50: hsl(20, 50%, 98%);
  --Rose100: hsl(13, 31%, 94%);
  --Rose300: hsl(14, 25%, 72%);
  --Rose400: hsl(7, 20%, 60%);
  --Rose500: hsl(12, 20%, 44%);
  --Rose900: hsl(14, 65%, 9%);
}

* {
  font-family: "Red Hat Text", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  border: 1px solid #000;
  margin: 0 auto;
  max-width: 450px;
}

h1, h2 {
  text-align: center;
}

#product-list {
  display: grid;
  justify-content: space-around;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
  position: relative;
}

.product > img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.product button {
  position: absolute;
  left: 29%;
  top: 67%;
  padding: 10px 30px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: #fff;
  border: 2px solid var(--Rose500);
  padding: 10px;
  cursor: pointer;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}

button img {
  max-width: 100%;
  width: 25px;
}

button:focus {
  outline: 2px solid var(--red);
}

#cart {
  margin-top: 20px;
}

.hidden {
  display: none;
}